header{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

#navigation{
  display: flex;
  justify-content: center;
}

main{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

section{
  width: 30%;
}
